@import url(https://fonts.googleapis.com/css?family=Open+Sans);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  font-family: 'Open Sans', sans-serif; }

.btn {
  border-color: transparent; }

.btn, .form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.table-responsive {
  border-color: transparent; }

.error-input-msg {
  color: red;
  font-size: 0.75em; }

.jumbotron {
  color: white;
  background-color: black; }

.developer-avatar {
  height: 40px;
  width: 40px; }

.hour-input {
  max-width: 80px; }
