@import url(https://fonts.googleapis.com/css?family=Open+Sans);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  font-family: 'Open Sans', sans-serif; }

.btn {
  border-color: transparent; }

.btn, .form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

input[type="text"], textarea {
  background-color: white; }

.jumbotron {
  color: white;
  background-color: black;
  margin-bottom: 0; }

.search-input {
  padding: 3em 20em; }
  @media screen and (max-width: 768px) {
    .search-input {
      padding: 3em; } }
  @media screen and (min-width: 769px) {
    .search-input {
      padding: 3em 10em; } }

.developer-avatar {
  height: 40px;
  width: 40px; }

.table-responsive {
  border-color: transparent; }

.error-input-msg {
  color: red;
  font-size: 10px; }

.developer-avatar-2 {
  height: 30px;
  width: 30px; }

.hour-input {
  max-width: 80px; }
