@import url(https://fonts.googleapis.com/css?family=Open+Sans);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

* {
  font-family: 'Open Sans', sans-serif; }

.btn {
  border-color: transparent; }

.btn, .form-control {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.dev-step-description {
  font-size: 1.25em;
  margin-bottom: 1.5em; }

.table-responsive {
  border-color: transparent; }

.error-input-msg {
  color: red;
  font-size: 0.75em; }

.jumbotron {
  color: white;
  background-color: black; }

.dev-step {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em; }

.div-success {
  margin: 2em 0 0 0;
  color: green;
  font-size: 2em; }

.developer-avatar {
  height: 30px;
  width: 30px; }

.hour-input {
  max-width: 80px; }
