@import url(https://fonts.googleapis.com/css?family=Open+Sans);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


// General

* { font-family: 'Open Sans', sans-serif; }

.btn {
    border-color: transparent;
}

.btn, .form-control {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

input[type="text"], textarea {
    background-color: white;
}


// header:
.jumbotron {
    color: white;
    background-color: black;
    margin-bottom: 0;
}

// search bar
.search-input {
    padding: 3em 20em;
    @media screen and (max-width: 768px) {
        padding: 3em;
    }
    @media screen and (min-width: 769px) {
        padding: 3em 10em;
    }
}


// first step:
.developer-avatar {
    height: 40px;
    width: 40px;
}


// second step:
.table-responsive {
    border-color: transparent;
}

.error-input-msg {
    color: red;
    font-size: 10px;
}

.developer-avatar-2 {
    height: 30px;
    width: 30px;
}

.hour-input {
    max-width: 80px;
}
