[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.org-search, .dev-list, .dev-cart, .shop-details {
    margin-bottom: 5em;
}

.developer-avatar {
    height: 30px;
    width: 30px;
}

.hour-input {
    max-width: 80px;
}
