@import url(https://fonts.googleapis.com/css?family=Open+Sans);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


// General

* { font-family: 'Open Sans', sans-serif; }

.btn {
    border-color: transparent;
}

.btn, .form-control {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

input[type="text"], textarea {
    background-color: white;
}

// search bar
.search-input {
    padding: 3em 20em;
    @media screen and (max-width: 768px) {
        padding: 3em;
    }
    @media screen and (min-width: 769px) {
        padding: 3em 10em;
    }
}


// dev list
.list {
    padding: 1em 2em 2em 2em;
    margin-bottom: 5em;
    background: #ebf8cf;
    h3 {
        margin-bottom: 1em
    }
    .list-dev-info {
        margin-bottom: 15px;
        img {
            height: 35px;
            width: 35px;
        }
    }
    .list-action {
        .btn-link {
            color: green;
            text-decoration: none;
        }
    }
}


// CART
.cart {
    padding: 1em 2em 2em 2em;
    margin-bottom: 5em;
    background: #E6EFED;
    h3 {
        margin-bottom: 1em
    }
    .cart-empty {
        margin-top: 3em;
        font-size: 1.2em
    }
    .table-responsive {
        border-color: transparent;
    }
    img {
        height: 30px;
        width: 30px;
    }
    .cart-dev-name {
        padding-left: 5px
    }
    .cart-dev-price {
        padding-top: 10px;
    }
    .cart-dev-hour-input {
        max-width: 80px;
    }
    .cart-error-input-msg {
        color: red;
        font-size: 10px;
    }
    .cart-subtotal {
        padding-top: 10px;
    }
    .cart-total td:first-child,
    .cart-total td:nth-child(4) {
        font-size: 1.5em;
        font-weight: bold;
        padding-top: 0.5em;
    }
    .btn-link {
        color: #e20202;
        text-decoration: none;
    }
}
