<!DOCTYPE html>
<html lang="pt-br" ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Coding Challenge VTEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->

</head>
<body ng-controller="DevShopCtrl as vm">

    <div class="container">
        <div class="row">
            <h1>Dev Shop</h1>
        </div>

        <!-- searching Github organization -->
        <div class="org-search row">
            <p class="lead">1. Search a GitHub's organization</p>
            <form class="form-inline" role="form" name="searchOrganizationForm">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Type an organization" name="search"
                            ng-model="vm.organizationName">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.search()">Search</button>
            </form>
        </div>

        <!-- dev org list -->
        <div class="dev-list row" ng-show="vm.searchResults">
            <p class="lead">2. Add developers</p>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="developer in vm.developers">
                            <td>
                                <img class="developer-avatar img-circle" ng-src="{{developer.avatar_url}}"> {{developer.login}}
                            </td>
                            <td>{{developer.price | currency}}</td>
                            <td>
                                <a class="btn btn-link btn-sm" role="button" target="_blank" ng-href="{{developer.html_url}}">See profile</a>
                                <button type="submit" class="btn btn-success btn-sm" ng-click="vm.addToCart(developer)"
                                        ng-disabled="developer.isAdded">Add to cart</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- cart list -->
        <div class="dev-cart row" ng-show="vm.searchResults">
            <p class="lead">3. Check and submit your developer list</p>
            <!-- <p>You haven't add any developers yet!</p> -->
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Price per hour</th>
                            <th>Hours</th>
                            <th>Subtotal</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="developer in vm.developersCart">
                            <td>
                                <img class="developer-avatar img-circle" ng-src="{{developer.avatar_url}}"> {{developer.login}}
                            </td>
                            <td>{{developer.price | currency}}</td>
                            <td>
                                <form class="form-inline" role="form" name="developerHourForm">
                                <input type="number" class="form-control input-sm hour-input" name="devHour" min="1"
                                        ng-model="developer.hour" ng-change="vm.sumSubtotal()" required>
                                <div ng-messages="developerHourForm.devHour.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="min">Minimum 1 hour.</div>
                                </div>
                                </form>
                            </td>
                            <td>{{developer.hour * developer.price | currency}}</td>
                            <td>
                                <a class="btn btn-link btn-sm" role="button" target="_blank" ng-href="{{developer.html_url}}">See profile</a>
                                <button class="btn btn-danger btn-sm" ng-click="vm.remove(developer)">Remove</button>
                            </td>
                        </tr>
                        <tr class="total">
                            <td><strong>Total</strong></td>
                            <td></td>
                            <td></td>
                            <td>{{vm.sum | currency }}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-link" ng-click="vm.clearAll()">Clear All</button>
                    <button type="submit" class="btn btn-success" ng-click="vm.submit()">Continue</button>
                </div>

            </div>
        </div>

        <!-- shop details -->
        <div class="shop-details row" ng-show="vm.finishOrder">
            <p class="lead">4. Finish your order</p>
            <form class="form-inline" role="form" name="discountForm" ng-hide="vm.hideDiscountForm">
                <label>Enter your code to get 30% discount:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your code" name="discountCode"
                            ng-model="vm.discountCode">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="vm.validate()">Validate Code</button>
            </form>
            <div ng-show="vm.errorOnValidate">This code is invalid. Try again!</div>
            <div>
                <p ng-show="vm.hideDiscountForm">Code accepted!</p>
                <p>Total price: {{vm.sum | currency}}</p>
                <div>
                    <button type="submit" class="btn btn-primary" ng-click="vm.shopDevelopers()">Shop now</button>
                </div>
            </div>
            <div ng-show="vm.orderSuccess">Congratulations!</div>
        </div>

    </div>

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/developer.service.js"></script>
    <script src="scripts/organization.service.js"></script>
    <!-- endinject -->
</body>
</html>
