<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Coding Challenge VTEX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->

</head>
<body ng-controller="devShopCtrl">

    <div class="container">
        <div class="row">
            <h1>Dev Shop</h1>
        </div>

        <!-- searching Github organization -->
        <div class="org-search row">
            <p class="lead">1. Search a GitHub's organization</p>
            <form class="form-inline" role="form" name="searchOrganizationForm">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Type an organization" name="search"
                            ng-model="organizationName">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
            </form>
            <div>{{organization}}</div>
        </div>

        <!-- dev org list -->
        <div class="dev-list row">
            <p class="lead">2. Add developers</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="product">
                        <td>{{developer.username}}</td>
                        <td>{{developer.price}}</td>
                        <td><button type="submit" class="btn btn-success" ng-click="addToCart(developer)">Add to cart</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- cart list -->
        <div class="dev-cart row">
            <p class="lead">3. Check and submit your developer list</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="product" ng-repeat="developer in Developers">
                        <td>{{developer.username}}</td>
                        <td>{{developer.price}}</td>
                        <td><button class="btn btn-danger pull-right" ng-click="remove(developer)">Remove</button></td>
                    </tr>
                    <tr class="total">
                        <td><strong>Total</strong></td>
                        <td>$100</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-link" ng-click="clearAll()">Clear All</button>
                <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
            </div>
        </div>



    </div>

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <!-- endbower -->

    <!-- inject:js -->

    <!-- endinject -->
</body>
</html>
