<!-- dev org list -->
<div ng-show="firstStep.developers" style="padding:1em;margin-bottom:1em;background:#CFF09E">

    <p class="lead">Add developers</p>

    <div ng-repeat="developer in firstStep.developers">
        <div class="media" style="margin-bottom:15px">

            <div class="media-left media-middle">
                <img class="developer-avatar img-circle" ng-src="{{developer.avatar_url}}">
            </div>

            <div class="media-body">
                <h5 class="list-group-item-heading">
                    <a ng-href="{{developer.html_url}}" target="_blank">
                        {{developer.login}}
                    </a>
                </h5>
                <p class="list-group-item-text">{{developer.price|currency}}</p>
            </div>

            <div class="media-right">
                <button type="submit" class="btn btn-success btn-sm" style="height:38px;width:38px;" ng-click="firstStep.addToCart(developer)"
                ng-disabled="developer.isAdded">
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>

        </div>
    </div>

</div>
