<div ng-show="secondStep.developersCart" style="padding:1em 1em 0 1em;background:#E0E4CC">

    <p class="lead">Your cart</p>

    <!-- <p>You haven't add any developers yet!</p> -->

    <div class="table-responsive" style="margin-bottom:1em">
        <table class="table table-condensed">

            <thead>
                <tr>
                    <th class="col-xs-4">Username</th>
                    <th class="col-xs-2">Price/hour</th>
                    <th class="col-xs-2">Hours</th>
                    <th class="col-xs-2">Subtotal</th>
                    <th class="col-xs-2">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="developer in secondStep.developersCart">
                    <td>
                        <img class="developer-avatar-2 img-circle" ng-src="{{developer.avatar_url}}">
                        <a target="_blank" ng-href="{{developer.html_url}}">{{developer.login}}</a>
                    </td>
                    <td style="padding-top:10px">{{developer.price | currency}}</td>
                    <td>
                        <form class="form-inline" role="form" name="developerHourForm">
                        <input type="number" class="form-control input-sm hour-input" name="devHour" min="1"
                                ng-model="developer.hour" ng-change="secondStep.sumSubtotal()" required>
                        <div ng-messages="developerHourForm.devHour.$error">
                            <div ng-message="required" class="error-input-msg">This is required.</div>
                            <div ng-message="min" class="error-input-msg">Minimum 1 hour.</div>
                        </div>
                        </form>
                    </td>
                    <td style="padding-top:10px">{{developer.hour * developer.price | currency}}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="secondStep.remove(developer)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>

                <tr class="total">
                    <td style="font-size:1.25em"><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                    <td style="font-size:1.25em"><strong>{{secondStep.sum | currency }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-link btn-lg" ng-click="secondStep.clearAll()">Clear All</button>
        <button type="submit" class="btn btn-success btn-lg" ng-click="secondStep.submit()">Continue</button>
    </div>
</div>
